body {
    background-color: #F1F2F5;
}

form {
    width: 890px;
    padding: 50px;
    margin: auto;
    background-color: white;
    border-radius: 7px;
    margin-top: 120px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    height: auto;
}

#dgvLista {
    font-family: Montserrat;
 
}

#txtPesquisar {
    padding: 12px 15px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: Montserrat;
    font-size: 15px;
}

#btnPesquisar {
    font-size: 15px;
    padding: 10px 25px;
    background-color: #F6B20F;
    border-radius: 3px;
    color: white;
    margin-top: 0px;
    font-family: Montserrat;
}

    #btnPesquisar:hover {
        font-size: 15px;
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    }

#hpComoFunciona {
    font-family: Montserrat;
    font-size: 10px;
}


#btnExportar {
    font-size: 15px;
    padding: 10px 25px;
    background-color: #62BE94;
    border-radius: 3px;
    color: white;
    margin-top: 0px;
    font-family: Montserrat;
}

    #btnExportar:hover {
        font-size: 15px;
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    }

