form {
    width: 311px;
    padding: 50px;
    margin: auto;
    background-color: white;
    border-radius: 7px;
    margin-top: 160px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    height: auto;
}

#txtNomeClinica {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: Montserrat;
    font-size: 20px;
}

#txtCNPJ {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: Montserrat;
    font-size: 20px;
}

#Label1 {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: bolder;
}

#Label2 {
    font-family: Montserrat;
    font-size: 15px;
}

#hpLogin {
    font-family: Montserrat;
    font-size: 15px;
}

#btnCadastrar {
    font-size: 20px;
    padding: 10px 25px;
    background-color: #F6B20F;
    border-radius: 3px;
    color: white;
    font-family: Montserrat;
}

    #btnCadastrar:hover {
        font-size: 20px;
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    }

#btnVoltar {
    font-size: 15px;
    padding: 10px 25px;
    background-color: #65C79B;
    border-radius: 3px;
    color: white;
    font-family: Montserrat;
}

    #btnVoltar:hover {
        font-size: 15px;
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    }

#txtSenha {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: Montserrat;
    font-size: 20px;
}

body {
    background-color: #F1F2F5;
}
